.label.has-badge {
  padding: 0.3em .6em 0.1em;
  .badge {
    color: black;
    background-color: white;
    font-size: 12px;
    margin-left: 5px;
  }
}

.panel-body .label {
  display: block;
  float: left;
  margin: 2px;
}

.list-badge {
  .has-badge {
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    padding: 8px 0;
    &:not(:first-child) {
      border-top: 1px dotted;
    }
    span {
      display: inline-block;
      &:first-child {
        width: 70%;
      }
      &:last-child {
        position: absolute;
        right: 0;
      }
    }
    .badge {
      background-color: @label-info-bg;
    }
  }
}

/********************
 * highlight
 ********************/
.hljs {
  padding: 8px 8px 8px 50px;
  word-wrap: normal;
  white-space: pre;
  overflow-y: auto;
}

.prettyprint {
  white-space: nowrap;
  word-break: normal;
  .pre-numbering {
    position: absolute;
    width: 50px;
    height: 100%;
    background-color: #eee;
    top: 0;
    left: 0;
    margin: 0;
    padding: 18px 2px 18px 0;
    border-right: 1px solid #ddd;
    list-style: none;
    text-align: right;
  }
}

/********************
 * header
 ********************/
.navbar#header {
  margin: 0 !important;
  transition: all 1s ease;
  z-index: 1000;
}

.navbar-collapse ul {
  margin: 0 !important;
}

/********************
 * footer
 ********************/
footer {
  position: fixed;
  padding: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 0;
  border-top: 1px solid rgba(128, 128, 128, 0.1);
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  border-radius: 0;
  z-index: 20;
  min-height: 25px;
  border-color: #d8d8d8;
  background-color: #f6f6f6;
  h6 {
    margin: 0;
    line-height: 25px;
    text-align: center;
    color: ghostwhite;
    font-family: 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', tahoma, arial, simsun, '宋体';
  }
}

/********************
 * main content
 ********************/
.main-content {
  display: inline-block;
  width: 100%;
}

/* 超小屏幕（小于等于 768px） */
@media screen and (max-width: @screen-xs-max) {
  .main-content {
    padding: 30px 10px 20px;
  }
}

/* 小屏幕（平板，大于等于 768px） */
@media screen and (min-width: @screen-sm-min) {
  .main-content {
    padding: 30px 40px 20px;
  }
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media screen and (min-width: @screen-md-min) {
  .main-content {
    padding: 30px 100px 20px;
  }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media screen and (min-width: @screen-lg-min) {
  .main-content {
    padding: 30px 150px 20px;
  }
}

.article-content {
  display: inline-block;
  width: 100%;
  padding: 30px 20px 20px;
}

/**
.col-loop(@counter) when (@counter > 0) {
  .col-loop((@counter - 1)); // 递归调用自身

  // 每次调用时产生的样式代码
  .col-xs-@{counter}, .col-sm-@{counter}, .col-md-@{counter}, .col-lg-@{counter} {
    position: static;
    min-height: 1px;
    padding: 0;
  }
}


.main-content {
  .col-loop(12)
}
*/

/********************
 * list-group in panel
 ********************/

.panel {
  .list-group {
    margin-bottom: 1px;

    .list-group-item {
      position: relative;
      display: block;
      padding: 10px 15px;
      margin-bottom: -1px;
      background-color: #fff;
      border: 1px solid #ddd;
      a {
        cursor: pointer;
        display: block;
        width: 100%;
      }
      &:hover {
        background-color: #f9f9f9;
      }
      &.active {
        background-color: #f9f9f9;
        border-left: 2px #d26911 solid;
        a {
          cursor: auto;
          text-decoration: none;
          color: black;
          font-weight: bolder;
        }
      }
    }
  }
}

/********************
 * editor
 ********************/

.layout-wrapper-l1 {
  position: relative !important;
  background-color: #4a4a4a;
}

.layout-wrapper-l2 {
  .navbar-default {
    background-color: #ededed;
    border-color: #dcdcdc;
  }
}

/********************
 * echarts
 ********************/

.language-echarts {
  position: relative;
  display: block;
  height: 340px;
  width: 100%;

  > div {
    margin: auto;
  }
}

/**************************************!
 * 文件上传
 **************************************/
.file-upload {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  border: 3px dashed silver;
  text-align: center;
  font-size: 36px;
  color: #d3d3d3;
  .before-add {
    input {
      height: 120px !important;
      width: 100%;
      opacity: 0;
      cursor: pointer;
    }
    .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .after-add {
    position: relative;
    min-height: 80px;
    image {
      max-width: 100%;
      min-width: 100%;
    }
    .content, .file-progress {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      h3 {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        text-shadow: 3px 3px 10px black;
        margin-top: -35px;
      }
      button {
        position: absolute;
        width: 100%;
        left: 0;
        opacity: 0.8;
        border-radius: 0;
      }
    }
  }
  h1, h2, h3, h4 {
    text-align: center;
  }
  h1 {
    margin: 20px 0;
    font-size: 32px;
  }
  h4 {
    margin: 0;
    font-size: 18px;
  }
}

/********************
 * loading
 ********************/

.loading-center {
  width: 100%;
  height: 100%;
  position: relative;
  .loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
}

.loading {
  .object {
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    border-left: 5px solid #FFF;
    border-right: 5px solid #FFF;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    -webkit-animation: loading 2s infinite;
    animation: loading 2s infinite;
  }
  .object:nth-child(1) {
    left: 45px;
    top: 45px;
    width: 110px;
    height: 110px;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .object:nth-child(2) {
    left: 55px;
    top: 55px;
    width: 90px;
    height: 90px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .object:nth-child(3) {
    left: 65px;
    top: 65px;
    width: 70px;
    height: 70px;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  .object:nth-child(4) {
    left: 75px;
    top: 75px;
    width: 50px;
    height: 50px;
  }
}

@-webkit-keyframes loading {
  50% {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes loading {
  50% {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

/********************
 * editor
 ********************/

.btn-blog-save.changed:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background: #c00;
  border-radius: 50%;
  border: 1px solid #fff;
}

.modal-export-harddrive .nav {
  height: 160px;
  li {
    width: 33%;
    padding: 10px;
    float: left;
    text-align: center;
    position: relative;
    display: block;
    a {
      position: relative;
      display: block;
      padding: 10px 15px;
      cursor: pointer;
    }
    i {
      font-size: 64px;
    }
    p {
      font-size: 12px;
    }
  }
}

.tagsinput {
  border: 2px solid @btn-primary-bg !important;
  .tag {
    background-color: @btn-primary-bg !important;
    border-color: @btn-primary-border !important;
    &:hover {
      background-color: darken(@btn-primary-bg, 8%) !important;
      border-color: darken(@btn-primary-bg, 12%) !important;
    }
  }
}

/********************
 * article
 ********************/
article.list-group-item {
  margin-bottom: 5px !important;
  & > h4 {
    margin: 0.5em 0;
  }
  & > section {
    max-height: 68px;
    margin: 5px 0 10px;
    border-bottom: 1px dotted #BDBDBD;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  & > div {
    height: 25px;
  }
  a {
    width: auto !important;
  }
  small {
    color: #999999;
  }
}

.article-panel {
  small {
    color: #999999;
  }
}

.text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pagination {
  a {
    height: 26px;
    width: 26px;
  }
  input {
    height: 26px;
    line-height: 26px;
  }
}

/********************
 * search
 ********************/
.search-crumb {
  padding-top: 100px;
  padding-left: 50px;
  min-width: 640px;
}

.search-logo {
  width: 120px;
  display: table;
  float: left;

  div {
    float: left;

    &:first-child {
      font-size: 64px;
      line-height: 64px;
      font-weight: bold;
      margin-right: 5px;
    }

    &:nth-child(2) {
      span {
        display: block;
        width: 54px;
        text-align: center;

        &:nth-child(1) {
          font-size: 24px;
          line-height: 40px;
        }

        &:nth-child(2) {
          font-size: 12px;
        }
      }
    }
  }
}

.search-input.input-group {
  width: 480px;
  margin-top: 10px;
}

.search-input .form-control, .search-input .input-group-btn .btn {
  height: 48px;
}

.search-input .input-group-btn .btn {
  margin: 0 !important;;
}

.quick-access {
  margin: 20px 0 0 160px;
}