<article class="list-category-item list-group-item" data-name="<%= categoryName %>">
	<h4><a class="text-info category-header" href="/article/category/<%= categoryName %>"><i class="glyphicon glyphicon-tags"></i> <span class="category-name"><%= categoryName %></span></span></a></h4>
	<div>
		<span class='label label-primary has-badge'>文章数<span class='badge'><%= articleNum %></span></span>
  		<button type="button" class="btn btn-danger btn-xs btn-category-delete"><i class="glyphicon glyphicon-trash"></i>删除</button>
		<button type="button" class="btn btn-primary btn-xs btn-category-rename"><i class="glyphicon glyphicon-edit"></i>重命名</button>
	</div>
</article>