<article class="list-group-item">
	<h4 class="text-primary"><%= articleTitle %></h4>
 	<section class="text-overflow"><%= articleSummary %></section>
 	<div>
 		<span class='label label-primary'><i class="icon-calendar"><%= articleCreateTime %></i></span>
		<span class='label label-primary'><i class="icon-calendar-empty"><%= articleLastModTime %></i></span>
  		<button data-uid="<%= articleUid %>" type="button" class="btn btn-danger btn-xs btn-article-recycle">删除</button>
		<a href="/editor/<%= articleUid %>" type="button" class="btn btn-primary btn-xs btn-article-edit">编辑</a>
	</div>	
</article>