<div class="panel">
	<div class="accordion-heading">
		<div class="checkbox pull-right">
			<label> <input id="input-enable-extension-1"
				type="checkbox" disabled >
			</label>
		</div>
		<a data-toggle="collapse" data-parent=".accordion-extensions"
			class="accordion-toggle collapsed" href="#accordion-extensions-collapse-1">
			HeHe <i class="icon-up-dir"></i></a>
	</div>
	<div id="accordion-extensions-collapse-<%= extensionId %>" class="collapse">
		<div class="accordion-inner clearfix"><%= settingsBlock %></div>
	</div>
</div>
